openapi: 3.0.0

info:
  title: demo-api
  version: 1.0.0

paths:
  /:
    get:
      operationId: root
      security:
        - api_key: []
      x-google-backend:
        address: https://demo-cloudrun-api-648502722674.us-central1.run.app
        protocol: h2
      responses:
        '200':
          description: OK

components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
