openapi: 3.0.0

info:
  title: demo-gke-api
  description: API Gateway -> GKE Service
  version: 1.0.0

paths:
  /:
    get:
      summary: Root endpoint
      operationId: rootGet
      responses:
        '200':
          description: OK
      x-google-backend:
        address: http://demo-svc.prod-app.svc.cluster.local
        protocol: http

  /{path}:
    get:
      summary: Catch all paths
      operationId: catchAll
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      x-google-backend:
        address: http://demo-svc.prod-app.svc.cluster.local
        protocol: http
