openapi: 3.0.0
info:
  title: Demo Cloud Run API
  version: 1.0.0

paths:
  /:
    get:
      operationId: root
      x-google-backend:
        address: https://demo-cloudrun-api-648502722674.us-central1.run.app
      responses:
        '200':
          description: OK
