openapi: 3.0.0
info:
  title: demo-api
  version: 1.0.0

x-google-api-management:
  backends:
    demo-backend:
      address: https://demo-cloudrun-api-648502722674.us-central1.run.app
      protocol: h2

paths:
  /:
    get:
      operationId: root
      x-google-backend:
        address: demo-backend
      responses:
        '200':
          description: OK
