openapi: 3.0.0
info:
  title: demo-api
  version: 1.0.0

paths:
  /health:
    get:
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: OK
      x-google-backend:
        address: https://example.com
