apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: demo-backendconfig
  namespace: prod-app
spec:
  cdn:
    enabled: true
    cachePolicy:
      includeHost: true
      includeProtocol: true
      includeQueryString: true
