apiVersion: v1
kind: Service
metadata:
  name: demo-svc
  namespace: prod-app
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
    cloud.google.com/backend-config: '{"default": "demo-backendconfig"}'
spec:
  type: ClusterIP
  selector:
    app: demo-app
  ports:
    - name: http
      port: 80
      targetPort: 8080
