apiVersion: v1
kind: Service
metadata:
  name: demo-svc
  namespace: prod-app
  annotations:
spec:
  type: ClusterIP
  selector:
    app: demo-app
  ports:
    - name: http
      port: 80
      targetPort: 8080
